@media (max-width: 1200px) {
  .header_menu {
    display: none; 
  }

  .header_logo{
    font-size: 20px;
  }

  .vertical_line {
    display: none;
  }

  .burger {
    display: flex; 
  }
}

@media (max-width: 900px) {
  .header_bottom {
    flex-direction: column;
  }
  .header_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 600px) {
  .header_title{
    font-size: 26px;
  }
  .quote{
    font-size: 16px;
  }
}